$pagebackgroundColor: rgb(6, 148, 148);
$longtabbgColor: rgb(14, 79, 45);
$plusbackgroundColor:rgb(14, 79, 45);

* {
margin: 0; padding: 0;
box-sizing: border-box;
text-transform: capitalize;
font-family: monospace;
}

.accordion-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-flow: column;
    background-color:$pagebackgroundColor;
    
}
     .accordion-container .accordion{
       width: 700px;
     }

     .accordion-container .accordion .accordion-header{
       width: 100%;
       background-color:$longtabbgColor;
       color:#fff;
       margin:5px 0;
       box-shadow: 0 2px 5px #6883BC;
       cursor: pointer;
     }

     .accordion-container .accordion .accordion-header .icon {
         display: inline-block;
         font-size: 30px;
         height: 60px;
         width: 50px;
         line-height: 60px;
         background-color: $plusbackgroundColor;
         text-align: center;
         clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);

     }

     .accordion-container .accordion .accordion-header h3{
        display: inline;
        font-size: 20px;
     }

     .accordion-container .accordion .accordion-body {
     padding:15px;
     box-shadow: 0 2px 5px rgba(0,0,0,.3);
     background-color:#fff;
     color: rgb(0, 0, 0);
     display: none;
     }
      
     .accordion-container .accordion:nth-child(1) .accordion-body {
        display: block;
     }

     @media (max-width:768px){
        .accordion-container .accordion {
         width: 90%;
        }}